<div class="content-wrapper">
  <div class="content-body">
    <h1>Consulta atmosférica</h1>
    <br>
    <!-- content-header component -->

    <!-- Basic Alerts start -->
    <form [formGroup]="form">
    <div class="row match-height">
      <div class="col-12">
      </div>
      <div class="col-sm-6 col-12">
        <label for="valid-state">Latitud</label>
        <input formControlName="latitud"
          type="text"
          class="form-control"
          id="valid-state"
          required
        />
      </div>
      <div class="col-sm-6 col-12">
        <label for="invalid-state">Longitud</label>
        <input formControlName="longitud"
          type="text"
          class="form-control"
          id="invalid-state"
          required
        />
        <div class="invalid-feedback">This is invalid state.</div>
      </div>
    </div>
      <br>
      <button type="button" class="btn btn-primary" rippleEffect
              (click)="enviar()"
      >Enviar</button>
    </form>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Longitud</th>
        <th scope="col">Latitud</th>
        <th scope="col">Presión atmosferica</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Humedad</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>12</td>
      </tr>
      </tbody>
    </table>
    <!-- Basic Alerts end -->
    <br>
    <button type="button" class="btn btn-primary" rippleEffect
            (click)="consultar()"
    >Consultar</button>
  </div>
</div>
