<div class="content-wrapper">
  <div class="content-body">
    <h1>Proyectar Ganacia</h1>
    <br>
    <form [formGroup]="form">
      <div class="row match-height">
        <div class="col-sm-6 col-12">
          <label for="valid-state">Cultivo</label>
          <input formControlName="cultivo"
                 type="text"
                 class="form-control"
                 id="valid-state"
                 required
          />
        </div>
        <div class="col-sm-6 col-12">
          <label for="">Inversion</label>
          <input formControlName="inversion"
                 type="text"
                 class="form-control"
                 required
          />
          <br>
        </div>
        <div class="col-sm-6 col-12">
          <label for="">Toneladas</label>
          <input formControlName="toneladas"
                 type="text"
                 class="form-control"
                 required
          />
          <br>
        </div>
        <div class="col-sm-6 col-12">
          <label for="">Ganancias</label>
          <input formControlName="ganancias"
                 type="text"
                 class="form-control"
                 required
          />
        </div>
        <div class="col-sm-6 col-12">
          <label for="">Fecha de inversión</label>
          <input formControlName="fechaInversion"
                 type="text"
                 class="form-control"
                 required
          />
        </div>
        <div class="col-sm-6 col-12">
          <label for="">Fecha de recaudacion</label>
          <input formControlName="fechaRecaudacion"
                 type="text"
                 class="form-control"
                 required
          />
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" rippleEffect
              (click)="enviar()"
      >Estimar</button>
    </form>
    <br>
    <h1>Proyección Realizada</h1>
    <br>
    <table class="table table-bordered table-hover" *ngIf="dataProyeccionRealizada">
      <thead>
      <tr>
        <th scope="col">Tipo de cultivo</th>
        <th scope="col">Inversión</th>
        <th scope="col">Toneladas</th>
        <th scope="col">Fecha de inversión</th>
        <th scope="col">Fecha de recolección</th>
        <th scope="col">Interes</th>
        <th scope="col">Ganancia proyectada</th>
        <th scope="col">Ganancia Estimada</th>
        <th scope="col">Porcentaje de ganancia</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{dataProyeccionRealizada.corpType}}</td>
        <td>{{dataProyeccionRealizada.investment}}</td>
        <td>{{dataProyeccionRealizada.tons}}</td>
        <td>{{dataProyeccionRealizada.investmentDate}}</td>
        <td>{{dataProyeccionRealizada.harvestingDate}}</td>
        <td>{{dataProyeccionRealizada.interest}}</td>
        <td>{{dataProyeccionRealizada.estimatedProfit}}</td>
        <td>{{dataProyeccionRealizada.projectedProfit}}</td>
        <td>{{dataProyeccionRealizada.percentage}}</td>
      </tr>
      </tbody>
    </table>
    <form [formGroup]="form2">
      <div class="col-sm-6 col-12">
        <label for="">Nombre</label>
        <input formControlName="nombre"
               type="text"
               class="form-control"
               required
        />
      </div>
      <br>

        <button type="button" class="btn btn-primary" rippleEffect
                (click)="guardar()"
        >Guardar</button>
    </form>

    <br>
    <h1>Proyecciónes Anteriores</h1>
    <br>
    <table class="table table-bordered table-hover" *ngIf="dataProyeccionAnterior">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de cultivo</th>
        <th scope="col">Inversión</th>
        <th scope="col">Toneladas</th>
        <th scope="col">Fecha de inversión</th>
        <th scope="col">Fecha de recolección</th>
        <th scope="col">Interes</th>
        <th scope="col">Ganancia proyectada</th>
        <th scope="col">Ganancia Estimada</th>
        <th scope="col">Porcentaje de ganancia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataProyeccionAnterior">
        <th scope="row">{{item.name}}</th>
        <td>{{item.corpType}}</td>
        <td>{{item.investment}}</td>
        <td>{{item.tons}}</td>
        <td>{{item.investmentDate}}</td>
        <td>{{item.harvestingDate}}</td>
        <td>{{item.interest}}</td>
        <td>{{item.estimatedProfit}}</td>
        <td>{{item.projectedProfit}}</td>
        <td>{{item.percentage}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
