<div class="content-wrapper">
  <div class="content-body">
    <h1>Consultar predicción</h1>
    <br>
    <!-- content-header component -->
    <form [formGroup]="form">
      <div class="row match-height">
        <div class="col-12">
        </div>
        <div class="col-sm-6 col-12">
          <label for="valid-state">Latitud</label>
          <input formControlName="latitud"
                 type="text"
                 class="form-control"
                 id="valid-state"
                 required
          />
        </div>
        <div class="col-sm-6 col-12">
          <label for="invalid-state">Longitud</label>
          <input formControlName="longitud"
                 type="text"
                 class="form-control"
                 id="invalid-state"
                 required
          />
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" rippleEffect
              (click)="enviar()"
      >Enviar</button>
    </form>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha final</th>
        <th scope="col">Dato</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      </tbody>
    </table>
    <!-- Basic Alerts end -->
    <br>
  </div>
</div>
